/*Style for base.html and menu */

#head{
  margin: 0;
}

/*navigation bar styling*/
.topnav {
    background-color:rgb(50, 50, 60);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    overflow: hidden;
  }
  .topnav-right{
    float: right;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: ivory;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Change color of links on hover */
  .topnav a:hover {
    background-color: rgb(80, 80, 90);
  }

  /*change design and float of navigation bar on screens with width less tha 500px*/
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

/*container layout*/
  .container{
    width: 1100px;
    margin: 0 auto;
    color: rgb(50, 50, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    overflow: auto;
}

/*button layout*/
.mybutton1{
  float: left;
  margin: 10px;
  color:ivory; 
  background-color:black; 
  width: 90px; 
  height:35px;
  border: none;
  border-radius: 20px;
}