{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" id="acontainer">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stylepa.css' %}">
    <div id="content">
        <h1>About</h1>
        <hr></hr>
        <p>
            This demo version was developed in a bachelor thesis and the full source code can be accessed on ....
            Existing dataset search engines are mainly based on keyword or faceted search and researchers have found this forms of search 
            insufficient. For this reason, this demo version proposes a new approach that models data needs by full text problem 
            description. The used recommendation algorithm is based on text classification followed by a ranking. A pretrained text classifier 
            predicts a set of relevant datasets for an entered problem description and the selected datasets are ranked among 
            their relevancy. The benefit of this approach in comparison to keyword and faceted search is the independence from metadata and 
            the expression of data needs in full text. In a comprehensive evaluation of different text classification models, this approach 
            has achieved very promising results. The best model has reached a precision of 0.78 and F1-score of 0.78 in the offline evaluation, 
            in the user study these results were further outperformed by a precision of 0.94. This Linear SVM model is implemented in this demo 
            version of a search engine. 
        </p>
    </div>
</div>
{% endblock %}
